# MacOS Specific
**/.DS_Store

# Ignore installed plugins but allow tpm submodule
**/.config/tmux/plugins/*
!**/.config/tmux/plugins/tpm

# Private/local configurations
**/local.zsh

# Local History Files
**/.netrwhist

# Vim specific
**/.vim/after/*
